
<form>
    <center> <h2 style="color: #00488e; margin-top:-5px;">Customer Information</h2> </center>
    <table>
      <tr>
        <td><label for="name">Name:</label></td>
        <td><input type="text" id="name" name="name" value="Milos Gak" readonly></td>
      </tr>
      <tr>
        <td><label for="email">Email:</label></td>
        <td><input type="text" id="email" name="email" value="milosgak2020@gmail.com" readonly></td>
      </tr>
      <tr>
        <td><label for="phone">Phone:</label></td>
        <td><input type="text" id="phone" name="phone" value="(240) 483 7923" readonly></td>
      </tr>
      <tr>
        <td><label for="message">Notes:</label></td>
        <td><textarea id="message" name="message" readonly></textarea></td>
      </tr>
    </table>
  </form>
  <form>
    <!-- EDIT BUTTON FOR CUSTOMER INFO -->
    <input type="hidden" name="id" value="123">
    <center> <button style="background-color: rgba(59, 188, 20, 255); color: white;  border: none; border-radius: 5px; padding: 6px 14px; cursor: pointer;">Edit</button></center>
    </form>