.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* creates 3 columns of equal width */
    grid-gap: 10px; /* adds a gap between columns */
  }
  
  .column {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
  }
  
  @media screen and (min-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(5, 1fr); /* creates 5 columns of equal width on screens wider than 768px */
    }
  }