
            <center><h3 style="margin-top:-10px;"><u> Intrastate only </u> </h3></center>
            Confirm rate of $<%= result.rate %>/hour for <%= result.crew_size %> movers and <%= result.truck_no %> truck. (2 hour minimum). Customer agrees and understands that Serbian Movers LLC is on the clock upon arrival at origin, through the load, through the drive to destination, and through the unload, until our truck and/or trailer has been fully reassembled. Billed in 15 minutes increments. labor charge + travel charge + all materials - $100 deposit. If customer agrees please sign bellow.
        
            <center><h3> <u> Estimate </u></h3></center>
            I understand this shipment is moving under a non-binding estifdmate. NOTE: if the charges shown on this bill exceed the charges on the non-binding estimate given me by the carrier, the carrier must release the shipment upon the payment of 110% of total payment.
                
            <center><h3> <u> Valuation </u> </h3></center>
            <h4>Declared value of $0.30 per pound per article     - There is no charge for this option</h4>
            <b>Exclusions:</b> Furniture composed of particle board or pressboard;Lamps, mapshades, pictures, mirror,artwork,glass, marble, vases or statues not packed by company. Items found broken in boxes not packed by company; Electronic, audio/visual, computer or battery-operated equipment in transit or storage; Previously damaged or repaired items; Previously damaged or loose veneer; Furniture with the original glue dried out; Any loose items not boxed; Plants (live,artifical, or dried);If one item in a set is damaged, only that one item is covered, not the whole set.
       