        <!-- First Row -->
        <div class="column">   
            <center><h2>Contacts</h2></center>
            <p>email@serbianmovers.com</p>
            <p>www.serbianmvoers.com</p>
            <p>708 292 4802</p>
        </div>
        <div class="column">
            <center><h2><u>Household Good Bill of Ladding</u></h2></center>
            <p>Serbian Movers LLC<br>
            2720 South River Road #100, <br>
            Des Plaines, IL 60018
            </p>
            <p>US DOT: 236436 / ILCC: 234623</p>
            <p></p>
        </div>
        <div class="column">
            <h2>_</h2>
            <p>Bill of Ladding number: <u>IL10<%= moveid %></u></p>
            <p>Date order taken: <u><%= result.start_date %> </u></p>
            <p>Equipment Number:<u>22</u></p>
        </div>
        
        <!-- Second Row -->
        <div class="column span-3">
          <b>Customer: </b>This Bill of Lading establishes a contract between you and the household goods carrier. It confirms instructions and authorizes the carrier to move, ship , pack and/or perform the services shown. Before you sign this document it is important that you first read entire document, including the back, and that you ask for an explanation of anything that is not clear or that is different from any previous information received from the carrier or the carrier's representatives.
        </div>